.header {
    background-color: #0c0c0c;
    color: white;
    padding: 10px 0;
    text-align: center;
    box-shadow: 10px 10px 50px rgba(28, 27, 27, 0.3);
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0c0c;
    padding: 10px 0;
    box-shadow: 10px 10px 50px rgba(28, 27, 27, 0.3);
}
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    margin-right: 15px;
    color: white;
}
nav ul li:hover {
    text-decoration: underline;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: white;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(32, 32, 32);
    color: #333;
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 10px 0;
}

p {
    color: white;
    line-height: 1.6;
    margin: 10px 0;
}
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    margin-right: 15px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.header{
    font-size: 20px;
    width: 1550px;
}

.titre{
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 0;
    padding: 10px 0;
    position: relative;
    top: 250px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.footer-content {
    text-align: center;
    padding: 10px;
    background-color: #0c0c0c;
    color: white;
    position: relative;
    bottom: -900px;
    width: 100%;
    left: 0;
    box-shadow: 10px 10px 50px rgba(28, 27, 27, 0.3);
  }
  .socials {
      display: flex;
      gap: 10px;
      list-style: none;
      padding: 0;
      margin: 0;
      justify-content: center;
      align-items: center;
  }

  .socials :hover{
    text-decoration: underline;
  }
  .hover-color:hover{
    animation: changeColor 20s infinite;
  }
  .hover-color2:hover{
    animation: changeColor 20s infinite;
  }
  .hover-color3{
    color: rgba(28, 28, 28, 0.474);
  } 
  .hover-color4:hover{
    animation: changeColor 20s infinite;
  }
  .hover-color5:hover{
    animation: changeColor 20s infinite;
  }
  
  
  @keyframes changeColor {
    0%   { color: rgb(255, 0, 0); }
    25%  { color: rgb(6, 228, 253); }
    50%  { color: rgb(2, 255, 2); }
    75%  { color: #fca400; }
    80% { color: rgb(255, 0, 255); }
    100%   { color: rgb(255, 0, 0); }

  }
.typewriter h1 {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .1em;
  
    width: 0;
    animation: typing 3s steps(19, end) forwards, blink-caret .75s step-end infinite;
  }
  .nom{
    text-align: center;
    color: white;
    font-size: 30px;
    margin: 0;
    padding: 10px 0;
    position: relative;
    top: 250px;
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 19ch }
  }
  @keyframes typing2 {
    from { width: 0 }
    to { width: 15ch }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 0, 0) }
  }
  .presentation{
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
    position: relative;
    top: 250px;
    font-family: Arial, sans-serif;
    text-align: justify;
  }
  #presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #1e1e1e;
}

.text-zone {
    background-color: #2b2b2b; /* Couleur de fond de la zone */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    max-width: 800px;
    width: 100%;
    position: relative;
    left: 350px;
}

.text-zone h2 {
    text-align: center;
    color: #00bfff;
    margin-bottom: 20px;
}

.text-zone p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 15px;
    text-align: justify;
    color: white;
}
